# Flutter/Dart से जुड़ी फ़ाइलें (जिन्हें अपलोड नहीं करना है)
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# एंड्रॉयड से जुड़ी फ़ाइलें (इसमें आपका पर्सनल SDK पाथ होता है)
android/local.properties
android/key.properties
*.keystore
*.jks

# लॉग और फालतू फ़ाइलें
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# IDE (विजुअल स्टूडियो और एंड्रॉइड स्टूडियो) की फ़ाइलें
.idea/
.vscode/
*.iml
